.main-2{
    background-color: white;
    height: 500px;
    /*border: 5px solid springgreen;*/
    float: right;
    margin: 16px 15px;
    padding: 50px 20px;
    box-shadow: 0 0 15px rgb(66, 66, 66);
}

.main-2 h3{
    text-align: center;
    margin-top: 35px;
}
.school{
    height: 120px;
    margin-top: 50px;
    /*border: 1px solid steelblue;*/
}
.school img{
    height: 120px;
    width: 120px;
    float: left;
    margin-left: 100px;
}
.school p{
    float: right;
    margin-right: 130px;
    margin-top: 40px;
    text-align: center;
}
.college{
    height: 120px;
    margin-top: 50px;
    /*border: 1px solid steelblue;*/
}
.college img{
    height: 120px;
    width: 140px;
    float: left;
    margin-left: 90px;
}
.college p{
    float: right;
    margin-right: 130px;
    margin-top: 40px;
    text-align: center;
}

@media (max-width: 768px){
    .main-2{
        height: auto;
        width: 100%;
        margin: 20px auto;
        padding: 0px;
    }
    .main-2 p{
        width: 100%;
        margin: auto;
    }
    .school img{
        position: relative;
        left: 55px;
    }
    .college img{
        position: relative;
        left: 55px;
    }
    .college{
        margin-top: 100px;
        margin-bottom: 150px;
    }
}